body{
  font-family: 'Quicksand';
  background-color: rgb(214, 207, 177);
}

.circular_image img{
  width:100%;
}

.container{
  max-width: 840px;
  margin: 0 auto;
}

.container > div{
  margin: 50px auto;
}

.intro{
  text-align: center;
}

.quote{
  font-size: smaller;
  position: absolute;
  right: 580px;
  top: 400px;
}

.about-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.about-list{
  text-align: center;
  list-style: none;
  

}

.i-am, .i-like{
  text-align: center;
  
}

.projects-heading{
  text-align: center;
}

.projects-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.projects-image-wrapper{
  justify-self: center;
  padding: 4%;
  position: relative;
}

.projects-image{
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease in-out .2s;
}

.projects-image:hover{
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(16, 28, 37, 0.16);
}

.projects-image-wrapper:hover > h4{
  visibility: visible;
}

.projects-image-wrapper > h4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out .2s;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  
}

@media (max-width: 650px){
  .projects-grid{
    grid-template-columns: 100%;
  }
}

.links-and-contact{
  display: grid;
  grid-template-columns: 30% 70%;
}

.links{
  justify-self: center;
}

.links-list{
  list-style: none;
  padding: 0;
}

@media(max-width: 650px){
  .links-and-contact{
    grid-template-columns: 100%;
  }

}

.circular_image {
  width: 170px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 rgb(34, 60, 0, 0.16);
  transition: all ease in-out .2s;
}

.circular_image:hover{
  box-shadow: 0 24px 48px 0 rgb(34, 60, 0, 0.16);
}

form input, textarea{
  padding: 5px;
  border-radius: 5px;
  width: 240px;
}

form input[type="submit"]{
  width: 250px;
}

.submit-button-wrapper{
  margin: 20px;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0));
}

.float-left{
  margin-left: -400px;
}