*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: cadetblue;
    background-image: linear-gradient(to top, #289997 0%, #B1CDCD 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}



.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background:#87a5a5;
    color: #fff;

}

.button:hover{
    background:#adad0e;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #9AE3E3;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /* top: -1000px;
        opacity: 0; */
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;

    }

    .navbar__menu.active{
        
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;

    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
        
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);   
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(-8px) rotate(-45deg);
        
    }
}

/* Hero Section CSS*/

.main{
    background-color: #141414;

}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;

}

.main__content h1{
    font-size: 4rem;
    background-color: #6AB0A6;
    background-image: linear-gradient(to top, #289997 0%, #B1CDCD 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    font-size: 1.5rem;
    background-color: #E0A208;
    background-image: linear-gradient(to top, #4F655F 0%, #4F655F 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top,  #ED610A 0%, #ED610A 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:brown;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}

.main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    text-align: center;
}

#main__img{
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */

@media screen and (max-width: 768px) {
    .main__container{
        display:grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content p{
        font-size: 2rem;
        
    }
}

@media screen and (max-width:480px){


    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content p{
        margin-top: 2;
        font-size: 1.5rem;
        
    }

    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

}

/* Gallery CSS */

.gallery{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.gallery__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery_pics{
    margin: 1rem;
    height: 840px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0) 0%,
    rgba(17,17,17,0.6) 100%), url('/images/pic6.png');
    background-size: cover;
    position: relative;
    color: #fff;
}

.gallery_pics:nth-child(2){
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0) 0%,
    rgba(17,17,17,0.6) 100%), url('/images/pic7.jfif');
}

.gallery_pics p{
    position: absolute;
    top: 400px;
    left: 30px;
}

.gallery_pics:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and(max-width: 960px){
    .gallery{
        height: 1600px;
    }

}

@media screen and (max-width: 480px){
    .gallery{
        height: 1400px;
    }

    .gallery_pics{
        width: 300px;
    }
    
}

/* Footer CSS */

.footer__container{
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--Wrapper{
    display: flex;

}

.footer__link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items a{
    margin-bottom: 16px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

}

.footer__link--items a:hover{
    color:darkmagenta;
    transition: 0.3s ease-out;
}

.website__rights {
    color: #fff;
    margin-top: 1rem;

   
    

}